@page "/Beam/pro/"
@inject HttpClient _httpClient

<PageTitle> Расчёт балки </PageTitle>

<div class="container content">
    <h3 class="text-center">Расчёт деревянной балки прямоугольного сечения</h3>

    <form class="container mt-3 row ps-1 pe-1" action="/Beam/pro/" method="post">
        <h4 class="col-12">Характеристики балки</h4>

        <!--материал-->
        <div class="row align-items-center mb-2 ">
            <div class="col-12 col-lg-2">
                <label class="form-label" for="Material"> Материал </label>
            </div>

            <div class="col-12 col-lg-6">
                <div class="input-group">
                    <select class="form-select" aria-label="Material" name="Material" id="Material">
                        <option value="PlankK16">Доска сосна, ель класс K16/сорт 3</option>
                        <option value="PlankK24" selected>Доска сосна, ель класс K24/сорт 2</option>
                        <option value="PlankK26">Доска сосна, ель класс K26/сорт 1</option>
                        <option value="LvlK35">Брус LVL класс K35/сорт 3</option>
                        <option value="LvlK40">Брус LVL класс K40/сорт 2</option>
                        <option value="LvlK45">Брус LVL класс K45/сорт 1</option>
                    </select>
                </div>
            </div>

        </div>

        <!--Доска камерной сушки?-->
        <div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Dry_wood" name="DryWood">
                <label class="form-check-label" for="flexCheckDefault">
                    Доска камерной сушки
                </label>
            </div>
        </div>
        <!--Глубокая пропитка антипиренами?-->
        <div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="FlameRetardants" name="FlameRetardants">
                <label class="form-check-label" for="flexCheckDefault">
                    Глубокая пропитка антипиренами
                </label>
            </div>
        </div>

        <!--линия-->
        <hr class="my-4">

        <InputNumberExtended BodyText="Длинна" InputID="Length" Minimum="400" Maximum="15000" Units="мм" Value="3000"></InputNumberExtended>
        <InputNumberExtended BodyText="Ширина" InputID="Width" Minimum="12" Maximum="400" Units="мм" Value="50"></InputNumberExtended> 
        <InputNumberExtended BodyText="Высота" InputID="Height" Minimum="19" Maximum="300" Units="мм" Value="150"></InputNumberExtended>
        <InputNumberExtended BodyText="Количество" InputID="Amount" Minimum="1" Maximum="5" Units="шт" Value="1"></InputNumberExtended>

        <!--линия-->
        <hr class="my-4">

        <!--Класс условий эксплуатации-->
        <div class="row align-items-center mb-2">
            <div class="col-12 col-lg-3">
                <label class="form-label" for="Exploitation_select">
                    <a class="link-no-style" data-bs-toggle="collapse" href="#exploitation_table" aria-expanded="false" aria-controls="exploitation_table">
                        Класс условий эксплуатации <img class="ms-1 bi" rel="icon" src="/icons/info.ico" type="image/x-icon" width="16" height="16" />
                    </a>
                </label>
            </div>
            <div class="col-12 col-lg-6">
                <div class="input-group">
                    <select class="form-select" aria-label="Exploitation_select" name="Exploitation" id="Exploitation_select">
                        <option value="Class1A">1а (сухой)</option>
                        <option value="Class1B">1б (сухой)</option>
                        <option value="Class2" selected> 2 (нормальный)</option>
                        <option value="Class3">3 (влажный)</option>
                        <option value="Class4A">4а (мокрый)</option>
                        <option value="Class4B">4б (мокрый)</option>
                    </select>
                </div>
            </div>
        </div>

        <!--таблица типов эксплуатаций-->
        <div class="collapse" id="exploitation_table">
            <table class="table table-bordered border-secondary table-text">
                <thead>
                    <tr>
                        <th colspan="3" class="align-top">Класс условий эксплуатации</th>
                        <th rowspan="2" class="align-top">Дополнительная характеристика условий эксплуатации конструкций</th>
                        <th rowspan="2" class="align-top">Особенность учёта классов при расчёте конструкций</th>
                    </tr>
                    <tr>
                        <th colspan="2" class="align-top">Основной класс</th>
                        <th class="align-top">Подкласс</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2">1</td>
                        <td>1а</td>
                        <td>—</td>
                        <td>При сухом режиме помещений с относительно влажностью воздуха в отопительный сезон менее 40%</td>
                        <td rowspan="4">Эксплуатационная влажность древесины не превышает 12%</td>
                    </tr>
                    <tr>
                        <td>1б</td>
                        <td>—</td>
                        <td>При сухом режиме помещений с относительно влажностью воздуха в отопительный сезон от 40% до 50%</td>
                    </tr>
                    <tr>
                        <td colspan="2" rowspan="2">2</td>
                        <td>2.1</td>
                        <td>При нормальном режиме помещений</td>
                    </tr>
                    <tr>
                        <td>2.2</td>
                        <td>В неотапливаемых помещениях, под навесом и на открытом воздухе в сухой зоне влажности</td>
                    </tr>
                    <tr>
                        <td colspan="2" rowspan="2">3</td>
                        <td>3.1</td>
                        <td>При влажном режиме отпливаемых помещений</td>
                        <td rowspan="2">Эксплуатационная влажность древесины не превышает 15%</td>
                    </tr>
                    <tr>
                        <td>3.2</td>
                        <td>В неотапливаемых помещениях, под навесом или на открытом воздухе в нормальной зоне влажности</td>
                    </tr>
                    <tr>
                        <td rowspan="5">4</td>
                        <td rowspan="3">4а</td>
                        <td>4а.1</td>
                        <td>При мокром режиме эксплуатации помещений</td>
                        <td rowspan="3">Зксплуатационная влажность древесины не превышает 20%</td>
                    </tr>
                    <tr>
                        <td>4а.2</td>
                        <td>При искусственных тепловыделениях в неотапливаемых помещениях</td>
                    </tr>
                    <tr>
                        <td>4а.3</td>
                        <td>В неотапливаемых помещениях, под навесом и на открытом воздухе вл влажной зоне влажности</td>
                    </tr>
                    <tr>
                        <td rowspan="2">4б</td>
                        <td>4б.1</td>
                        <td>При контакте с грунтом</td>
                        <td rowspan="2">Эксплуатационная влажность древесины может превышать 20%</td>
                    </tr>
                    <tr>
                        <td>4б.2</td>
                        <td>В воде</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <InputNumberExtended BodyText="Срок службы" InputID="LifeTime" Minimum="50" Maximum="150" Units="лет" Value="50"></InputNumberExtended>

        <!--Режим нагружения-->
        <div class="row align-items-center mb-2">
            <div class="col-12 col-lg-3">
                <label class="form-label" for="Eoading_mode_select">
                    <a class="link-no-style" data-bs-toggle="collapse" href="#loading_mode" aria-expanded="false" aria-controls="loading_mode">
                        Режим нагружения <img class="ms-1 bi" rel="icon" src="/icons/info.ico" type="image/x-icon" width="16" height="16" />
                    </a>
                </label>
            </div>
            <div class="col-12 col-lg-6">
                <div class="input-group">
                    <select class="form-select" aria-label="Loading_mode_select" name="LoadingMode" id="Loading_mode_select">
                        <option value="A">А</option>
                        <option value="B">Б</option>
                        <option value="V">В</option>
                        <option value="G" selected>Г</option>
                        <option value="D">Д</option>
                        <option value="E">Е</option>
                        <option value="J">Ж</option>
                        <option value="I">И</option>
                        <option value="K">К</option>
                        <option value="L">Л</option>
                        <option value="M">М</option>
                    </select>
                </div>
            </div>
        </div>

        <!--таблица режимов нагружений-->
        <div class="collapse" id="loading_mode">
            <table class="table table-bordered border-secondary table-text">
                <thead>
                    <tr>
                        <th class="align-top">Обозначение режима нагружения</th>
                        <th class="align-top">Характеристика режима нагружения</th>
                    </tr>
                </thead>
                <tbody>
                <tbody>
                    <tr>
                        <td>А</td>
                        <td>Линейно возрастающая нагрузка при стандартных машинных испытаниях</td>
                    </tr>
                    <tr>
                        <td>Б</td>
                        <td>Совместное действие постоянной и длительной временной нагрузок, напряжение от которых превышает 80% полного напряжения в элементах конструкций от всех нагрузок</td>
                    </tr>
                    <tr>
                        <td>В</td>
                        <td>Совместное действие постоянной, длительной временной нагрузок и нагрузок от людей на перекрытия жилых и общественных зданий</td>
                    </tr>
                    <tr>
                        <td>Г</td>
                        <td>Совместное действие постоянной и кратковременной снеговой нагрузок</td>
                    </tr>
                    <tr>
                        <td>Д</td>
                        <td>Совместное действие постоянной и кратковременной ветровой нагрузок или постоянной и кратковременных снеговой и ветровой нагрузок</td>
                    </tr>
                    <tr>
                        <td>Е</td>
                        <td>Совместное действие постоянной и монтажной нагрузок</td>
                    </tr>
                    <tr>
                        <td>Ж</td>
                        <td>Совместное действие постоянной и сейсмической нагрузок</td>
                    </tr>
                    <tr>
                        <td>И</td>
                        <td>Действие импульсивных и ударных нагрузок</td>
                    </tr>
                    <tr>
                        <td>К</td>
                        <td>Совместное действие постоянной и кратковременной снеговой нагрузок в условиях пожара</td>
                    </tr>
                    <tr>
                        <td>Л</td>
                        <td>Для опор воздушных линий электропередачи - гололедная, монтажная, ветровая при гололеде, от тяжения проводов при температуре ниже среднегодовой</td>
                    </tr>
                    <tr>
                        <td>М</td>
                        <td>Для опор воздушных линий электропередачи - при обрыве проводов и тросов</td>
                    </tr>
                </tbody>
                </tbody>
            </table>
        </div>

        <InputNumberExtended BodyText="Установившаяся температура воздуха" InputID="SteadyTemperature" Minimum="20" Maximum="50" Units="°C" Value="20"></InputNumberExtended>
        <InputNumberExtended BodyText="Срок службы" InputID="LifeTime" Minimum="50" Maximum="150" Units="лет" Value="50"></InputNumberExtended>

        <!--линия-->
        <hr class="my-4">

        <h4>Опоры</h4>

        <!--кнопка опоры-->

        <button @onclick="AddSupport" type="button" class="btn btn-secondary col-12 col-md-3 mb-4 buttons-margin" id="addSupport">Добавить</button>


        <!--Список опор-->
        @for(int i = 0; i < supports.Count(); i++)
        {
            int currentIndex = i;

            <div class="row align-items-center mb-2">

                <div class="col-12 col-lg-3">
                    <label class="form-label" for="@("support" + (i + 1).ToString())"> @("Смещение опоры " + (i + 1).ToString()) </label>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="input-group">

                        <input type="number" class="form-control" min="400" max="1500" 
                                id="@("support" + (i + 1).ToString())" 
                                name="Supports" 
                                value="@(supports[i])"
                                @onchange="@((ChangeEventArgs __e) => supports[currentIndex] = Convert.ToInt32(__e?.Value?.ToString()))">
                            <span class="input-group-text">мм</span>
                    </div>
                </div>

                <button type="button" class="btn btn-outline-danger col-4 col-lg-3" @onclick="@(e => DeleteSupport(currentIndex))">
                    Удалить
                </button>

            </div>
        }

        <!--линия-->
        <hr class="my-4">

        <h4>Нормативные равномерно распределённые нагрузки</h4>
        <!--добавить Нормативные равномерно распределённые нагрузки в1-->
        <button @onclick="AddDistributedLoadV1" type="button" class="btn btn-secondary col-12 col-md-4 col-lg-3 mb-2 mb-md-4 me-4 buttons-margin" id="AddDistributedV1">Добавить Вариант 1</button>

        <!--добавить Нормативные равномерно распределённые нагрузки в2-->
        <button @onclick="AddDistributedLoadV2" type="button" class="btn btn-secondary col-12 col-md-4 col-lg-3 mb-2 mb-md-4 buttons-margin" id="AddDistributedV2">Добавить Вариант 2</button>

        <!--Нормативные равномерно распределённые нагрузки в1-->
        <div id="DistributedLoadsV1">
        </div>

        <!--Нормативные равномерно распределённые нагрузки в2-->
        <div id="DistributedLoadsV2">
        </div>

        <!--линия-->
        <hr class="my-4">
        <h4>Нормативные сосредоточенные нагрузки</h4>

        <!--добавить Нормативные сосредоточенные нагрузки в1-->
        <button @onclick="AddConcentratedLoadV1" type="button" class="btn btn-secondary col-12 col-md-4 col-lg-3 mb-2 mb-md-4 me-4 buttons-margin">Добавить Вариант 1</button>
        <!--добавить Нормативные сосредоточенные нагрузки в2-->
        <button @onclick="AddConcentratedLoadV2" type="button" class="btn btn-secondary col-12 col-md-4 col-lg-3 mb-2 mb-md-4 me-4 buttons-margin">Добавить Вариант 2</button>

        <!--Нормативные сосредоточенные нагрузки в1-->
        <div id="ConcentratedLoadsV1">
        </div>
        <!--Нормативные сосредоточенные нагрузки в2-->
        <div id="ConcentratedLoadsV2">
        </div>
        <!--линия-->
        <hr class="my-4">



        <button @onclick="CalculateFull" type="button" class="btn btn-primary buttons-margin">Расчёт на сервере</button>
    </form>
</div>
@if (_result != null)
{
    <div class="container content row">
    <h3 class="text-center">Расчёт деревянной балки прямоугольного сечения</h3>
    <h4>Исходные данные</h4>
    <div class="col-12">
        <table class="table table-bordered table-hover border-secondary caption-top w-auto ">
            <caption class="text-body">Параметры балки:</caption>

            <tr>
                <td> Материал балки</td>
                <td></td>
                <td>
                    @{
                        switch (_result.Input.Material)
                        {
                            case Data.BeamMatireals.PlankK16:
                                            @: Доска сосна, ель класс K16/сорт 3
                                break;

                            case Data.BeamMatireals.PlankK24:
                                            @: Доска сосна, ель класс K24/сорт 2
                                break;

                            case Data.BeamMatireals.PlankK26:
                                            @: Доска сосна, ель класс K26/сорт 1
                                break;

                            case Data.BeamMatireals.LvlK35:
                                            @: Брус LVL класс K35/сорт 3
                                break;

                            case Data.BeamMatireals.LvlK40:
                                            @: Брус LVL класс K40/сорт 2
                                break;

                            case Data.BeamMatireals.LvlK45:
                                            @: Брус LVL класс K45/сорт 1
                                break;
                        }
                    }
                </td>
            </tr>
            <tr>
                <td> Ширина сечения доски </td>
                <td> мм </td>
                <td> @(_result.Input.Width * 1000)</td>
            </tr>
            <tr>
                <td> Высота сечения доски </td>
                <td> мм </td>
                <td> @(_result.Input.Height * 1000)</td>
            </tr>
            <tr>
                <td> Длина балки </td>
                <td> мм </td>
                <td> @(_result.Input.Length * 1000)</td>
            </tr>
            <tr>
                <td> Количество досок в пакете </td>
                <td> шт </td>
                <td> @_result.Input.Amount </td>
            </tr>

        </table>
    </div>
    <div class="col-12">
        <table class="table table-bordered table-hover border-secondary caption-top w-auto">
            <caption class="text-body">Опоры:</caption>
            <tbody>
                @{
                    int i = 1;

                    foreach (var s in _result.Input.Supports)
                    {
                                    <tr>
                                        <td>@i</td>
                                        <td>мм</td>
                                        <td>@(s * 1000)</td>
                                    </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Общие расчётные характеристики</h4>
    <div class="col-12">
        <table class="table table-bordered table-hover border-secondary caption-top w-auto">
            <caption class="text-body">Геометрические характеристики балки</caption>
            <tbody>
                <tr>
                    <td>Величина усушки доски по ширине</td>
                    <td></td>
                    <td>мм</td>
                    <td>@System.Math.Round(_result.ShrinkageInWidth * 1000, 1)</td>
                </tr>
                <tr>
                    <td>Величина усушки доски по высоте</td>
                    <td></td>
                    <td>мм</td>
                    <td>@System.Math.Round(_result.ShrinkageInHeight * 1000, 1)</td>
                </tr>
                <tr>
                    <td>Расчётная ширина сечения балки</td>
                    <td></td>
                    <td>мм</td>
                    <td>@System.Math.Round(_result.EffectiveWidth * 1000, 1)</td>
                </tr>
                <tr>
                    <td>Расчётная высота сечения балки</td>
                    <td></td>
                    <td>мм</td>
                    <td>@System.Math.Round(_result.EffectiveHeight * 1000, 1)</td>
                </tr>
                <tr>
                    <td>Площадь поперечного сечения балки</td>
                    <td><math><mi>F</mi></math></td>
                    <td>мм<sup>2</sup></td>
                    <td>@System.Math.Round(_result.CrossSectionArea * 1000 * 1000, 1)</td>
                </tr>
                <tr>
                    <td>Полярный момент инерции сечения</td>
                    <td><math><msub><mi>J</mi><mi>p</mi></msub></math></td>
                    <td>мм<sup>4</sup></td>
                    <td>@System.Math.Round(_result.PolarMomentOfInertia * 1000 * 1000 * 1000 * 1000)</td>
                </tr>
                <tr>
                    <td>Осевой момент инерции сечения относительно оси Y</td>
                    <td><math><msub><mi>I</mi><mi>y</mi></msub></math></td>
                    <td>мм<sup>4</sup></td>
                    <td>@System.Math.Round(_result.MomentOfInertiaY * 1000 * 1000 * 1000 * 1000)</td>
                </tr>
                <tr>
                    <td>Осевой момент инерции сечения относительно оси Z</td>
                    <td><math><msub><mi>I</mi><mi>z</mi></msub></math></td>
                    <td>мм<sup>4</sup></td>
                    <td>@System.Math.Round(_result.MomentOfInertiaZ * 1000 * 1000 * 1000 * 1000)</td>
                </tr>
                <tr>
                    <td>Момент сопротивления сечения относительно оси Y</td>
                    <td><math><msub><mi>W</mi><mi>y</mi></msub></math></td>
                    <td>мм<sup>3</sup></td>
                    <td>@System.Math.Round(_result.MomentOfResistanceY * 1000 * 1000 * 1000)</td>
                </tr>
                <tr>
                    <td>Момент сопротивления сечения относительно оси Z</td>
                    <td><math><msub><mi>W</mi><mi>z</mi></msub></math></td>
                    <td>мм<sup>3</sup></td>
                    <td>@System.Math.Round(_result.MomentOfResistanceZ * 1000 * 1000 * 1000)</td>
                </tr>
                <tr>
                    <td>Статический момент площади сдвигаемого сечения относительно оси Y</td>
                    <td><math><msub><mi>S</mi><mi>y</mi></msub></math></td>
                    <td>мм<sup>3</sup></td>
                    <td>@System.Math.Round(_result.StaticMomentOfShearSectionY * 1000 * 1000 * 1000)</td>
                </tr>
                <tr>
                    <td>Статический момент площади сдвигаемого сечения относительно оси Z</td>
                    <td><math><msub><mi>S</mi><mi>z</mi></msub></math></td>
                    <td>мм<sup>3</sup></td>
                    <td>@System.Math.Round(_result.StaticMomentOfShearSectionZ * 1000 * 1000 * 1000)</td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="col-12">
        <table class="table table-bordered table-hover border-secondary caption-top w-auto">
            <caption class="text-body">Физико-механические характеристики материала</caption>
            <tbody>
                <tr>
                    <td>Нормативный модуль упругости при изгибе с обеспеченностью 0.95</td>
                    <td><math><msub><mi>E</mi><mi>н</mi></msub></math></td>
                    <td>МПа</td>
                    <td>@(_result.StiffnessModulus / 1000000)</td>
                </tr>
                <tr>
                    <td>Средний модуль упругости при изгибе</td>
                    <td><math><msub><mi>E</mi><mi>ср</mi></msub></math></td>
                    <td>МПа</td>
                    <td>@(_result.StiffnessModulusAverage / 1000000)</td>
                </tr>
                <tr>
                    <td>Средний модуль сдвига</td>
                    <td><math><msub><mi>G</mi><mi>ср</mi></msub></math></td>
                    <td>МПа</td>
                    <td>@(_result.ShearModulusAverage / 1000000)</td>
                </tr>
                <tr>
                    <td>Расчётное сопротивление изгибу</td>
                    <td><math><msubsup><mi>R</mi><mi>и</mi><mi>А</mi></msubsup></math></td>
                    <td>МПа</td>
                    <td>@(_result.BendingResistance / 1000000)</td>
                </tr>
                <tr>
                    <td>Расчётное сопротивление скалыванию при изгибе</td>
                    <td><math><msubsup><mi>R</mi><mi>ск</mi><mi>А</mi></msubsup></math></td>
                    <td>МПа</td>
                    <td>@(_result.BendingShearResistance / 1000000)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12">
        <table class="table table-bordered table-hover border-secondary caption-top w-auto  ">
            <caption class="text-body">Коэффициенты условий работы</caption>
            <tbody>
                <tr>
                    <td>Глубокая пропитка антипиренами</td>
                    <td><math><msub><mi>m</mi><mi>а</mi></msub></math></td>
                    <td>@_result.MaCoefficient</td>
                </tr>
                <tr>
                    <td>Класс условий эксплуатации</td>
                    <td><math><msub><mi>m</mi><mi>В</mi></msub></math></td>
                    <td>@_result.MbCoefficient</td>
                </tr>
                <tr>
                    <td>Срок службы</td>
                    <td><math><msub><mi>m</mi><mi>с.с</mi></msub></math></td>
                    <td>@_result.MccCoefficient</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}

@code{
    private FullReport? _result;
    private List<int> supports = new List<int>() {0, 3000};

    private void CalculateFull()
    {
        // http request
        //_result = http response
    }

    private void AddSupport() => supports.Add(0);
    private void DeleteSupport(int index) => supports.RemoveAt(index);
    private void AddDistributedLoadV1() { }
    private void AddDistributedLoadV2() { }
    private void AddConcentratedLoadV1()  { }
    private void AddConcentratedLoadV2()  { }
}