<div class="row align-items-center mb-2">

    <div class="col-12 col-lg-4">
        <label class="form-label" for="@InputID"> @BodyText </label>
    </div>

    <div class="col-12 col-lg-5">
        <div class="input-group">

            <input @onchange="Binder" type="number" class="form-control" step="@Step" min="@Minimum" max="@Maximum" id="@InputID" name="@(Name == null ? InputID : Name)" value="@InputValue">

            @if(Units != null){
                <span class="input-group-text">@Units</span>
            }

        </div>
    </div>

    @ChildContent

</div>

@code {
    [Parameter]
    public string? InputID { get; set; }

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? BodyText { get; set; }

    [Parameter]
    public string? Units { get; set; }

    [Parameter]
    public string? Step { get; set; }

    [Parameter]
    public int? Minimum { get; set; }

    [Parameter]
    public int? Maximum { get; set; }

    [Parameter]
    public double? InputValue { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> Binder { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
