@model FullReport
@{
    ViewData["Title"] = "расчёт балки";
}

<div class="container content row">
    <h3 class="text-center">Расчёт деревянной балки прямоугольного сечения</h3>
    <h4>Исходные данные</h4>
    <div class="col-12">
        <table class="table table-bordered table-hover border-secondary caption-top w-auto ">
            <caption class="text-body">Параметры балки:</caption>
            
            <tr>
                <td> Материал балки</td>
                <td></td>
                <td>
                    @{
                        switch (Model.Input.Material)
                        {
                            case Input.Matireals.plank_k16:
                                    @: Доска сосна, ель класс K16/сорт 3
                                break;

                            case Input.Matireals.plank_k24:
                                    @: Доска сосна, ель класс K24/сорт 2
                                break;

                            case Input.Matireals.plank_k26:
                                    @: Доска сосна, ель класс K26/сорт 1
                                break;

                            case Input.Matireals.lvl_k35:
                                    @: Брус LVL класс K35/сорт 3
                                break;

                            case Input.Matireals.lvl_k40:
                                    @: Брус LVL класс K40/сорт 2
                                break;

                            case Input.Matireals.lvl_k45:
                                    @: Брус LVL класс K45/сорт 1
                                break;
                        }
                    }    
                </td>
            </tr>
            <tr>
                <td> Ширина сечения доски </td>
                <td> мм </td>
                <td> @(Model.Input.Width * 1000)</td>
            </tr>
            <tr>
                <td> Высота сечения доски </td>
                <td> мм </td>
                <td> @(Model.Input.Height * 1000)</td>
            </tr>
            <tr>
                <td> Длина балки </td>
                <td> мм </td>
                <td> @(Model.Input.Length * 1000)</td>
            </tr>
            <tr>
                <td> Количество досок в пакете </td>
                <td> шт </td>
                <td> @Model.Input.Amount </td>
            </tr>
            
        </table>
    </div>
    <div class="col-12">
        <table class="table table-bordered table-hover border-secondary caption-top w-auto">
            <caption class="text-body">Опоры:</caption>
            <tbody>
                @{
                    int i = 1;

                    foreach(var s in Model.Input.Supports)
                    {
                            <tr>
                                <td>@i</td>
                                <td>мм</td>
                                <td>@(s * 1000)</td>
                            </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
    <h4>Общие расчётные характеристики</h4>
    <div class="col-12">
        <table class="table table-bordered table-hover border-secondary caption-top w-auto">
            <caption class="text-body">Геометрические характеристики балки</caption>
            <tbody>
                <tr>
                    <td>Величина усушки доски по ширине</td>
                    <td></td>
                    <td>мм</td>
                    <td>@Math.Round(Model.ShrinkageInWidth * 1000, 1)</td>
                </tr>
                <tr>
                    <td>Величина усушки доски по высоте</td>
                    <td></td>
                    <td>мм</td>
                    <td>@Math.Round(Model.ShrinkageInHeight * 1000, 1)</td>
                </tr>
                <tr>
                    <td>Расчётная ширина сечения балки</td>
                    <td></td>
                    <td>мм</td>
                    <td>@Math.Round(Model.EstimatedWidth * 1000, 1)</td>
                </tr>
                <tr>
                    <td>Расчётная высота сечения балки</td>
                    <td></td>
                    <td>мм</td>
                    <td>@Math.Round(Model.EstimatedHeight * 1000, 1)</td>
                </tr>
                <tr>
                    <td>Площадь поперечного сечения балки</td>
                    <td><math><mi>F</mi></math></td>
                    <td>мм<sup>2</sup></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Полярный момент инерции сечения</td>
                    <td><math><msub><mi>J</mi><mi>p</mi></msub></math></td>
                    <td>мм<sup>4</sup></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Осевой момент инерции сечения относительно оси Y</td>
                    <td><math><msub><mi>I</mi><mi>y</mi></msub></math></td>
                    <td>мм<sup>4</sup></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Осевой момент инерции сечения относительно оси Z</td>
                    <td><math><msub><mi>I</mi><mi>z</mi></msub></math></td>
                    <td>мм<sup>4</sup></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Момент сопротивления сечения относительно оси Y</td>
                    <td><math><msub><mi>W</mi><mi>y</mi></msub></math></td>
                    <td>мм<sup>3</sup></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Момент сопротивления сечения относительно оси Z</td>
                    <td><math><msub><mi>W</mi><mi>z</mi></msub></math></td>
                    <td>мм<sup>3</sup></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Статический момент площади сдвигаемого сечения относительно оси Y</td>
                    <td><math><msub><mi>S</mi><mi>y</mi></msub></math></td>
                    <td>мм<sup>3</sup></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Статический момент площади сдвигаемого сечения относительно оси Z</td>
                    <td><math><msub><mi>S</mi><mi>z</mi></msub></math></td>
                    <td>мм<sup>3</sup></td>
                    <td></td>
                </tr>


            </tbody>
        </table>
    </div>
</div>

@section Stylesheets{
    <link rel="stylesheet" href="./css/BeamProPost.css" />
}